<%- partial('_partial/bg-cover') %>

<main class="content">
	<!--文章分类--><!--新加的-->
	<%- partial('_widget/category-cloud') %>
    <% if (site.categories && site.categories.length > 0) { %>
    <%- partial('_widget/category-radar') %>
    <% } %>
	
	<!--文章标签-->
    <%- partial('_widget/tag-cloud') %>
    <% if (site.tags && site.tags.length > 0) { %>
    <%- partial('_widget/tag-wordcloud') %>
    <% } %>

</main>

